<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h5>Quick Links</h5>
          <ul class="list-unstyled">
            <li><a href="home-page-reader">Home</a></li>
            <li><a href="advanced-search">Advanced Search</a></li>
            <li><a href="profile-page">Profile</a></li>
            <li><a href="books-page">Books</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <ul class="list-unstyled">
            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contact Info</h5>
          <address>
            123 street40, Cairo, Mokattam, 1521<br>
            Phone: +01151332457<br>
            Email: HCIgreensAndBlacksTeam&commat;gmail.com
          </address>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-md-12 text-center">
          <p>&copy; 2024 BookLib. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
  