<app-header-reader></app-header-reader>
<div *ngIf="book" class="container">
    <img [src]="book.imageUrl" [alt]="book.name" />

    <div class="details">
        <div class="header">
            <span class="name">
                {{book.name}}
        </span>
           
        </div>
        <br>
        <span class="favorite" (click)="toggleFavorite(book)" [ngClass]="{'not': !book.favorite}">
        </span>
        
        <br>
        <div class="tags">
            <app-tags [bookPageTags]="book.tags" justifyContent="start"></app-tags>
        </div>

        <div class="price">
            <span>{{book.price|currency}}</span>
        </div>
        <div class="description">
            <p>{{book.description}}</p>
        </div>
    </div>

</div>