<div class="slides">
        <div
        class="slide"
        [ngStyle]="{
        'background-image': 'url(' + slides [currentSlide].url + ')',
        opacity: hidden ? 0 : 1
        }"
>
    <div id="indicators">
        @for (slide of slides; track $index;) {
            <div class="indicator" 
            (click)="jumpToSlide ($index)" 
            [ngClass]="{ active: $index== currentSlide}"></div>
        }
        
        <button (click)="prev()" class="prevButton"><fa-icon [icon]="faArrowLeft"></fa-icon></button>
        <button (click)="next()" class="nextButton"><fa-icon [icon]="faArrowRight"></fa-icon></button>
    </div>
</div>
</div>
