
:host{
    display: block;
    width: 100%;

    .slides{
        width: 60%;
        height: 600px;

        .slide{
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            .nextButton,
            .prevButton {
            position: absolute;
            top: -250px;
            border: 0px;
            background-color: transparent;
            font-size: 30px;
            color: #fff;
            }
            .nextButton {
            right: -400px;
            }
            .prevButton{
            left: -400px;
            }

            #indicators{
                position: absolute;
                left: 0px;
                right: 0px;
                margin: auto;
                bottom: 20px;
                width: 75px;
                .indicator{
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    background-color: rgba(240, 248, 255, 0.811);
                    display: inline-block;
                    margin: 0px 5px;
                    cursor: pointer;
                    transition: background-color 0.5s ease-in-out;

                    &.active{
                        background-color: rgba(40, 40, 40, 0.812);
                    }
                }
            }

        }
    }
}