
<header>
    <div class="head">
        <a class="logo">BookLib</a>
        <nav>
            
            <ul>
                <li>
                    <a href="#" routerLink="">Log out</a>
                </li>
                <li>
                    <a href="#" routerLink="/">Add Banners</a>
                </li>
                <li>
                    <a href="#" routerLink="/">Remove Books</a>
                </li>
            </ul>
            
        </nav>
    </div>
</header>

<div class="container"> 
<mat-card>
    <mat-card-header>
        <mat-card-title>Add Books</mat-card-title>
        <br>
        <br>
        <br>
    </mat-card-header>
        <mat-card-content class="form-container">
            <form class="form" [formGroup]="bookForm" (ngSubmit)="onAddBook(bookForm)">
                <table>
                    <th class="column">
                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Book Name</mat-label>
                                <input id="bookName"  matInput type="text" formControlName="bookName">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Book Author</mat-label>
                                <input id="bookAuthor"  matInput type="text" formControlName="Author">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Book ID</mat-label>
                                <input id="bookId"  matInput type="number" formControlName="bookId">
                        </mat-form-field>
                    </p>
                          
                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Genre of book</mat-label>
                            <mat-select formControlName="tag" >
                                @for (tagloop of bookTags; track tagloop) {
                                <mat-option [value]="tagloop.tagofbook">{{tagloop.tagofbook}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </p>
                </th>
                <th class="column">
                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Image URL</mat-label>
                                <input id="imageBook"  matInput type="text" formControlName="imageUrl">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Book Description</mat-label>
                                <textarea id="description"  matInput type="textarea" formControlName="description"> </textarea>
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Publisher</mat-label>
                                <input id="publisher"  matInput type="text" formControlName="publisher">
                        </mat-form-field>
                    </p>

                    <p>
                        <mat-form-field class="w-75" appearance="outline">
                            <mat-label>Date of publish</mat-label>
                                <input id="dateOfPublish"  matInput [matDatepicker]="picker" formControlName="dateOfPublish">
                                <mat-hint>MM/DD/YYYY</mat-hint>
                                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker touchUi #picker></mat-datepicker> 
                        </mat-form-field>
                    </p>
                </th>
                </table>
                    <button  mat-raised-button color="primary" type="submit" [disabled]="!bookForm.valid" (click)="Message()">Add book</button>
                    <div class="book-added-message" *ngIf="bookAddedMessage">{{ bookAddedMessage }}</div>

            </form>
        </mat-card-content>
</mat-card>
</div>