
<header>
    <div class="container">
        <a href="#" routerLink="" class="logo">BookLib</a>
        <nav>
            
            <ul>
                <li>
                    <a href="#" routerLink="/">Add Banners</a>
                </li>
                <li>
                    <a href="#" routerLink="/">Remove Books</a>
                </li>
                <li>
                    <a href="#" routerLink="/addBooks">Add Books</a>
                </li>
            </ul>
            
        </nav>
    </div>
</header>

