.error-message {
    color: #fff;
  background-color: #ff3333; /* Red background color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  margin-top: 10px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
  }

  .centered-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(210, 205, 205); /* Add this line to set the background color */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  