<div>
<form class="mt-3" [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm)">
<p>
    <mat-form-field class="w-75" appearance="outline">
        <mat-label>Username</mat-label>
            <input id="username"  matInput type="text" formControlName="username">
    </mat-form-field>
</p>
<p>
    <mat-form-field class="w-75" appearance="outline">
        <mat-label>Password</mat-label>
            <input id="password"  matInput type="password" formControlName="password">
    </mat-form-field>
</p>
<p>
    <mat-form-field class="w-75" appearance="outline">
        <mat-label>Select user type</mat-label>
        <mat-select formControlName="userTypeProperty" >
            @for (userLoop of users; track userLoop) {
              <mat-option [value]="userLoop.user">{{userLoop.user}}</mat-option>
            }
          </mat-select>
    </mat-form-field>
</p>
<button  mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<div class="error-message" *ngIf="errorMessage">{{ errorMessage }}</div>

</div>