.book-removed-message {
    color: #000000;
  background-color: #36ff33; /* Green background color */
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); /* Shadow effect */
  margin-top: 10px;
  width: 300px; /* Adjust the width as needed */
  text-align: center;
  }

  .deleter {
    position: absolute;
    right: 0;
    top: auto; /* Optional: Adjust vertical alignment */
    transform: translateY(-50%); /* Optional: Center vertically */
  }
  

  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(210, 205, 205); /* Add this line to set the background color */
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  .column{
    border-spacing: 40px;
  }

  header{
    background: rgba(208, 205, 205, 0.69);
    padding: 0;
    border-bottom: 1px solid #927676;
}

a{
    color:rgb(84, 34, 34)
}

a:hover:not(.logo) {
    background: hsla(0, 30%, 34%, 0.741);
    color: white;
}

.head {
    margin: 0 auto;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

a.logo{
    font-weight: bold;
    padding: 1em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0; /* Remove default padding */
    display: flex;
}
nav ul li a {
    padding: 1em;
    display: block;
}
app-search {
    margin-left: auto; /* Push app-search to the right */
}

.bookHandler{
    background-color: rgb(0, 255, 191);
}